body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}

header {
    width: 620px;
    margin: 0 auto;
    border-bottom: 1px dashed #F2F2F2;

    text-align: center;
}

.song-list {
    margin: 0 auto;
    padding: 0;
    width: 620px;

    list-style: none;
}

.song {
    position: relative;
    height: 36px;
    box-sizing: border-box;

    padding: 6px;
    border-radius: 3px;
}

.song .button {
    position: absolute;
    top: 9px;
    right: 6px;
}

.song .name {
    color: #a40101;
}

.song .artist {
    color: #7d7d7d;
}

.song:hover {
    background-color: #F2F2F2;
}
