body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 400px;
    height: auto;

    margin: 0;
    padding: 15px;
}

.header {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed #F2F2F2;
}

.song-list {
    list-style: none;
    padding: 0;
}

.song {
    line-height: 30px;
    height: 36px;

    padding: 6px;
    border-radius: 3px;

    .button {
        display: inline-block;
        border-radius: 3px;
    }
}

.song .name {
    color: #a40101;
}

.song .artist {
    color: #7d7d7d;
}

.song:hover {
    background-color: #F2F2F2;
}
